:root{
    --bg_hero: #1f2937;
    --bg_footer: #1f2937;
    --Hero_FontSize: 48px;
    --Hero_FontWieght: 700;
    --Hero_FontColor: #f9faf8;
    --Hero_SecondaryFront: 18px;
    --Hero_SecondaryColor: #e5e7eb;
    --Header_LogoFont: 24px;
    --Header_LogoColor: #f9faf8;   
}

*,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    background-color: var(--bg_hero);
    padding: 2em 3em;
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation div h1{
    color: var(--Header_LogoColor);
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}
.navigation ul{
    list-style-type: none;
    display: flex;
}
.navigation ul li a{
    text-decoration: none;
    color: #e5e7eb;
    margin-right: 1.3em;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}


.hero {
    display: flex;
    align-items: center;
    margin-top: 5em;
}

.hero .hero_image{
    background-color: #e5e7eb5e;
    width: 50vw;
    padding: 7em;
}
.hero_image p {
    color: var(--Hero_FontColor);
}

.hero .hero_title h1{
    color: var(--Hero_FontColor);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: var(--Hero_FontWieght);
    font-size: var(--Hero_FontSize);
    word-wrap: break-word;
}
.hero .hero_title p {
    margin-top: 1em;
    max-width: 65%;
    font-size: 16px;
    color: var(--Hero_FontColor);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 24px;
}
.hero .hero_title button {
    margin-top: 1em;
    padding: 1em 2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #3882f6;
    color: var(--Hero_FontColor);
    font-size: 18px;
}


.dom-container{
    padding: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dom-container ul {
    list-style-type: none;
}
.dom-container ul li {
    background-color: #1f2937;
    color: #e5e7eb;
    padding: 2em 3em;
    margin: 1em;
}